

#title {
    
    background-color: #F7DE00;
   
    
    
}


.neonButton {
    margin-top: 1rem;
    padding: 15px 10px;
    display: inline-block;
    color: #fffb00;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1em;
    overflow: hidden;
}

/*creating animation effect*/
.neonButton:hover {
    color: #c9f504;
    background: #020201;
    box-shadow: 0 0 50px #c9f504;
}

.container-fluid {
    padding: 5% 15%;
}



h1 {
    font-family:"Poppins", "sans-serif";
    font-weight: 700;
    line-height: 1.4;
    font-size: 2.5rem;
    

    
}

/* Navigation Bar */





.navbar {
    padding: 0px 0px 4rem;
}

.navbar-nav {
    font-family: "Poppins";
    font-size: 1.2rem;
    font-weight: bold;
    
    
}

.nav-item {

    margin: 0px 15px;
    
}

.navbar-collapse {
  margin-bottom: 0px;
}

/* Title Image */

.editTop {
  padding-top: 40px;
}

#title {
  text-align: left;
  
  margin-bottom: -100px;
 
}

.meusCursos {
  font-family: sans-serif;
  text-align: center;
}

.title-image {

    width: 100%;
    
}


#courses {
  background-color: white;
    text-align: center;
    padding: 5% 15%;
    position: relative;
    top: px;
    z-index: 1;

}


.title-image2{
  width: 50%;
  
}

.button2 {
  text-align: center;
}

.buttonSize {
  margin-top: 20px;
}

.neonText {
  color: black;
  
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px rgb(221, 224, 8),
      0 0 82px rgb(238, 255, 0),
      0 0 92px rgb(183, 223, 9),
      0 0 102px rgb(200, 253, 7),
      0 0 151px rgba(210, 233, 5, 0.164);
}


/* Serviços */


#services{
  background-color: #f7dd00;
    text-align: center;
    padding: 5% 15%;
    position: relative;
    top: px;
    z-index: 1;
    

    
    
}

.servicos p {
  color: black;
}

#services h1{
    text-align: center;
    margin-bottom: .5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    line-height: 1.2;
    position: relative;
    z-index: 1;
}



h3 {

    
    font-family: "Poppins", "sans-serif";
    font-weight: 700;
    line-height: 1.2;

}

.feature-box{
    padding: 5%;
    text-align: center;
}

.feature-title {
    font-size: 1.5rem;;
}

p {
    color: #8f8f8f;
    font-family: "Monteserrat";
  }

  .icon {
    color:#525000;
    margin-bottom: 1rem ;
  }

.icon:hover {
    color: rgb(181, 194, 5);

}


.logoImg {

  width: 30%;

}


/* About me */

#aboutMe  {
  padding: 5% 5%;
  background-color: white;
  text-align: center;
  
}

@media(max-width: 1114px){
  #aboutMe{
  text-align: center;
 
  }
  .blackp {
    text-align: left;
    font-size: 1.6rem;
    
  }

  #title{
    text-align: left;
    margin-bottom: -100px;
  }

  h1 {
    font-family:"Poppins", "sans-serif";
    font-weight: 700;
    line-height: 1.4;
    font-size: 2rem;
    
  }


.title-image2{
  width: 80%;
  margin-bottom: 20px;
}

.navbar-collapse {
  margin-bottom: 1px;
}
  
 
}

@media(max-width: 991px){
  #aboutMe{
  text-align: center;
 
  }
  .blackp {
    text-align: left;
    font-size: 1.6rem;
  }

  #title{
    text-align: center;
    margin-bottom: 0px;
  }

  .title-image{
    width: 105%;
    margin-top: -80px;
    
  }

  

.logoImg {

  width: 50%;
  position: relative;
  left: -120px;

}

.navbar-toggler{
  position: relative;
  right: -80%;
  bottom: 60px;
}



  .curriculo {
    margin-top: 1.5rem;
  }

  .editTop {
    padding-top: 0px;
  }
  

 
}

@media(max-width: 450px){

  .logoImg {
    width: 50%;
    position: relative;
    left: -90px;
  
  }
}

@media(max-width: 360px){
  .logoImg {
    width: 50%;
    position: relative;
    left: -70px;
  
  }
}


.imgAbt{
  width: 90%;
}
.blackp{
  color: black;
  font-size: 1.2rem;
  text-align: left;
 
}


/* Testimonial section */

#testemonials{
  padding: 7% 5%;
  text-align: center;
  background-color: #f7dd00;
  
}

.testemonial-image {
  width: 15%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}

/* Contact */

#contact{
  text-align: center;
  background-color: rgb(54, 49, 49);
  color: yellow;
}

.contactName{
  font-family:"Poppins", "sans-serif";
    font-weight: 700;
    line-height: 1.5;
    font-size: 1.5rem;
}


/* Footer */

#footer{
  text-align: center;
  padding: 1% 0 1% 0;

}

.footText{
  color: black;
}

.iframe-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    padding-bottom: 120px;
  }
  
  .iframe-container iframe {
    max-width: 100%;
  }

  .materiaisTitle {
    text-align: center;
  }


  .whatsapp-button {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 60px;
    height: 60px;
    background-color: green;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-decoration: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 4;
  }
  
  .whatsapp-button:hover {
    background-color: darkgreen;
  }